@model UserOverviewPageModel

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Пользователи";
}

<button class="button primary" onclick="Metro.dialog.open('#createUser')">Создать нового пользователя</button>

<table class="table"
       data-role="table"
       data-show-search="false"
       data-show-pagination="false"
       data-show-rows-steps="false"
       data-show-table-info="false"
       data-table-rows-count-title="Показывать по:"
       data-table-info-title="Показано с $1 по $2 из $3"
       data-pagination-prev-title="Назад"
       data-pagination-next-title="Вперёд">
    <thead>
    <tr>
        <th data-sortable="true" data-sort-dir="asc">Логин</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>
                <a asp-action="UserPage" asp-route-id="@user.Id">@user.Login</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="dialog" data-role="dialog" id="createUser">
    <div class="dialog-title">Создание пользователя</div>
    <div class="dialog-content">
        <form asp-controller="Dashboard" asp-action="CreateUser">
            <div class="form-group">
                <label for="inputLogin">Логин</label>
                <input type="text" class="metro-input" name="login" id="inputLogin">
            </div>
            <div class="form-group">
                <label for="inputPassword">Пароль</label>
                <input type="password" class="metro-input" name="password" id="inputPassword">
            </div>
            <div class="form-group">
                <button type="submit" class="button success">Создать</button>
            </div>
        </form>
    </div>
    <div class="dialog-actions">
        <button class="button js-dialog-close">Закрыть окно</button>
    </div>
</div>
